<div class="key-title" style="text-align:center;">
   <h2> 핵심가치 </h2>
</div>
<div class="key-row">
  <div class="key-column">
    <img src="../assets/img/icons/sharing.svg" style="height:150px">
    <h3> Share </h3>
  </div>
  <div class="key-column">
    <img src="../assets/img/icons/team.svg" style="height:150px">
    <h3> Collaborate </h3>
  </div>
  <div class="key-column">
    <img src="../assets/img/icons/innovation.svg" style="height:150px">
    <h3> Enhance </h3>
  </div>
</div>
<div class="key-desc" style="padding:0 4em 1.5em 4em; text-align:left;">
 <p>공유는 발전을 위한 첫번째 단계입니다. 오픈 소스 소프트웨어를 오픈하고 공유하면, 누구나 이 자원을 활용하고 프로젝트에 기여할 수 있습니다. 궁극적으로 이것은 우리의 두번째 핵심 가치인 협업을 장려할 수 있습니다. 이 모든 과정은 우리의 삶의 질을 향상시킬 수 있을 것입니다.</p>
</div>
